<%- include("header") -%>

<h2>About page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium aliquid rem voluptates sed quas magnam eveniet quae vel corrupti molestias accusantium quos iusto commodi, quam blanditiis! Quo optio adipisci eligendi!</p>

<%- include("footer") -%>